<div class="modal-header">
    <h3 class="modal-title">Artikli</h3>
</div>
<div class="modal-body">
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'sifraArtikla'; reverseSort = !reverseSort">Šifra</th> 
          <th> <a ng-click = "orderProp = 'nazivArtikla'; reverseSort = !reverseSort">Naziv</th> 
          <th> <a ng-click = "orderProp = 'grupaArtikala.nazivGrupe'; reverseSort = !reverseSort">Grupa</th>  
		  <th> <a ng-click = "orderProp = 'pakovanje'; reverseSort = !reverseSort">Pakovanje</th> 
		  <th> <a ng-click = "orderProp = 'jedinicaMere.nazivJediniceMere'; reverseSort = !reverseSort">Jedinica mere</th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-click="setSelected(article)" ng-class="{selected: article === selectedArtikal}" ng-repeat="article in artikliDoc  | filter:query | orderBy:orderProp : reverseSort ">
          <td>{{article.sifraArtikla}}</td>
          <td>{{article.nazivArtikla}}</td>
		  <td>{{article.grupaArtikala.nazivGrupe}}</td>  
		  <td>{{article.pakovanje}}</td>
		  <td>{{article.jedinicaMere.nazivJediniceMere}}</td>        
      </tr>
    </tbody>
  <div class="form-group">
      <button class="btn btn-default" ng-click="add()">Dodaj</button>
       <button class="btn btn-default" ng-click="delete()">Obriši</button>
        <button class="btn btn-default" ng-click="update()">Izmeni</button>
        <button class="btn btn-default" ng-click="selektuj()">Selektuj</button>
    </div>
</div>
