<div class="modal-header">
    <h3 class="modal-title">Zaposleni</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group.required">
            <label>Šifra:</label>
            <input class="form-control" ng-model="selectedZaposleni.sifraZaposlenog" ></input>
        </div>
        <div class="form-group.required">
            <label>Ime:</label>
            <input class="form-control" ng-model="selectedZaposleni.ime" ></input>
        </div>
        <div class="form-group.required" >
            <label>Prezime:</label>
            <input  class="form-control" ng-model="selectedZaposleni.prezime" ></input>
        </div>
           <div class="form-group" >
            <label>JMBG:</label>
            <input class="form-control" ng-model="selectedZaposleni.jmbg" ></input>
        </div>
         <div class="form-group" >
            <label>Adresa:</label>
            <input class="form-control" ng-model="selectedZaposleni.adresaZaposlenog" ></input>
        </div>
          <div class="form-group">
            <label>Mesto:</label>
            <input class="form-control"  ng-model="selectedZaposleni.mesto.nazivMesta" readonly></input>
             <button class="btn" ng-click="selektujMesto()">Selektuj</button>
        </div>
          <div class="form-group" >
            <label>Broj Telefona:</label>
            <input class="form-control" ng-model="selectedZaposleni.brojTelefona" ></input>
        </div>
         
        <div class="form-group">
            <label>Datum Rođenja:</label>
              <div class="input-group">
               <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy." ng-model="selectedZaposleni.datumRodjenja" is-open="datumNastankaOpened" close-text="Zatvori" />
               <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="openDatumNastankaDatepicker($event, 'datumNastankaOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <div class="form-group" >
            <label>Status Zaposlenog:</label>
            <select class="form-control" ng-model="selectedZaposleni.statusZaposlenog" ng-options="opt as opt for opt in statusi"  ng-init="selected=''"></select>

        </div>
         <div class="form-group">
            <label>Preduzece:</label>
            <input class="form-control"  ng-model="selectedZaposleni.preduzece.nazivPreduzeca" readonly></input>
             <button class="btn" ng-click="selektujPreduzece()">Selektuj</button>
        </div>
         <div class="form-group">
            <label>Radno Mesto:</label>
            <input class="form-control"  ng-model="selectedZaposleni.radnoMesto.nazivRadnogMesta" readonly></input>
             <button class="btn" ng-click="selektujRadnoMesto()">Selektuj</button>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn" ng-click="ok()">OK</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
   
</div>