<div class="modal-header">
    <h3 class="modal-title">Mesto</h3>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group.required">
            <label>* Šifra:</label>
			<input type="text" name="sifra" class="form-control" ng-model="selectedMesto.sifraMesta" required></input>
			 <span style="color:red" ng-show="form.sifra.$invalid && form.sifra.$dirty">
				<span class="error" ng-show="form.sifra.$error.required">Obavezno polje!</span>
			 </span>
        </div>
        <div class="form-group.required">
            <label>* Naziv:</label>
			<input type="text" name="naziv" class="form-control" ng-model="selectedMesto.nazivMesta" required></input>
			 <span style="color:red" ng-show="form.naziv.$invalid && form.naziv.$dirty">
				<span class="error" ng-show="form.naziv.$error.required">Obavezno polje!</span>
			 </span>
        </div>
         <div class="form-group">
            <label>PTT:</label>
			<input name="ptt" class="form-control" ng-model="selectedMesto.pttBroj" pattern="[0-9]{5}"></input>
			<span style="color:red" ng-show="form.ptt.$invalid && form.ptt.$dirty">
				<span class="error" ng-show="form.ptt.$invalid">Potrebno je uneti petocifreni PTT broj!</span>
			</span>
        </div>
         <div class="form-group">
            <label>* Država:</label>
			<div class="input-group">
				<input name="drzava" type="text" class="form-control" ng-model="selectedMesto.drzava.nazivDrzave" readonly required></input>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="selektujDrzavu()"><i>...</i></button>
				</span>
			</div>
        </div>
    </form>
</div>

<span style="color:red" ng-show="show && form.$invalid">
		<span>Jedno ili više polja označenih zvezdicom je nepopunjeno. Da biste nastavili, popunite ih!</span>
	</span>
<div class="modal-footer" ng-init="show=false" ng-mouseover="show=true">
    <button class="btn" ng-click="ok()" ng-disabled="form.$invalid">Sačuvaj</button>
    <button class="btn" ng-click="cancel()">Odustani</button>
</div>