<div class="modal-header">
    <h3 class="modal-title">Zaposleni</h3>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group.required">
            <label>* Šifra:</label>
			<input type="text" name="sifra" class="form-control" ng-model="selectedZaposleni.sifraZaposlenog" required></input>
			 <span style="color:red" ng-show="form.sifra.$invalid && form.sifra.$dirty">
				<span class="error" ng-show="form.sifra.$error.required">Obavezno polje!</span>
			 </span>
        </div>
        <div class="form-group.required">
            <label>* Ime:</label>
			<input type="text" name="ime" class="form-control" ng-model="selectedZaposleni.ime" required></input>
			 <span style="color:red" ng-show="form.ime.$invalid && form.ime.$dirty">
				<span class="error" ng-show="form.ime.$error.required">Obavezno polje!</span>
			 </span>
        </div>
        <div class="form-group.required" >
            <label>* Prezime:</label>
			<input type="text" name="prezime" class="form-control" ng-model="selectedZaposleni.prezime" required></input>
			 <span style="color:red" ng-show="form.prezime.$invalid && form.prezime.$dirty">
				<span class="error" ng-show="form.prezime.$error.required">Obavezno polje!</span>
			 </span>
        </div>
           <div class="form-group" >
            <label>* JMBG:</label>
			<input type="text" name="jmbg" class="form-control" ng-model="selectedZaposleni.jmbg" pattern="[0-9]{13}" required></input>
			 <span style="color:red" ng-show="form.jmbg.$invalid && form.jmbg.$dirty">
				<span class="error" ng-show="form.jmbg.$error.required">Obavezno polje!</span>
				<span class="error" ng-show="form.jmbg.$invalid">Ispravan JMBG sadrži 13 cifara!</span>
			 </span>
        </div>
         <div class="form-group" >
            <label>Adresa:</label>
            <input name="adresa" class="form-control" ng-model="selectedZaposleni.adresaZaposlenog" ></input>
        </div>
          <div class="form-group">
            <label>Mesto:</label>
			<div class="input-group">
				<input name="mesto" type="text" class="form-control" ng-model="selectedZaposleni.mesto.nazivMesta" readonly></input>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="selektujMesto()"><i>...</i></button>
				</span>
			</div>
        </div>
          <div class="form-group" >
            <label>Broj telefona:</label>
			<input name="telefon" class="form-control" ng-model="selectedZaposleni.brojTelefona" pattern="((\+)|([0-9]+\/))?([0-9]+[-\s]?)+[0-9]+"></input>
			<span style="color:red" ng-show="form.telefon.$invalid && form.telefon.$dirty">
				<span class="error" ng-show="form.telefon.$invalid">Potrebno je uneti broj telefona u validnom formatu!</span>
			</span>
        </div>
         
        <div class="form-group">
            <label>Datum rođenja:</label>
              <div class="input-group">
               <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy." ng-model="selectedZaposleni.datumRodjenja" is-open="datumNastankaOpened" close-text="Zatvori" max-date="{{today}}"/>
               <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="openDatumNastankaDatepicker($event, 'datumNastankaOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <div class="form-group" >
            <label>Status zaposlenog:</label>
            <select class="form-control" ng-model="selectedZaposleni.statusZaposlenog" ng-options="opt as opt for opt in statusi"  ng-init="selected=''"></select>

        </div>
         <div class="form-group">
            <label>Preduzeće:</label>
			<div class="input-group">
				<input name="preduzece" type="text" class="form-control" ng-model="selectedZaposleni.preduzece.nazivPreduzeca" readonly></input>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="selektujPreduzece()"><i>...</i></button>
				</span>
			</div>
        </div>
         <div class="form-group">
            <label>Radno mesto:</label>
			<div class="input-group">
				<input name="radnoMesto" type="text" class="form-control" ng-model="selectedZaposleni.radnoMesto.nazivRadnogMesta" readonly></input>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="selektujRadnoMesto()"><i>...</i></button>
				</span>
			</div>
    </form>
</div>

<span style="color:red" ng-show="show && form.$invalid">
		<span>Jedno ili više polja označenih zvezdicom je nepopunjeno. Da biste nastavili, popunite ih!</span>
	</span>
<div class="modal-footer" ng-init="show=false" ng-mouseover="show=true">
    <button class="btn" ng-click="ok()" ng-disabled="form.$invalid">Sačuvaj</button>
    <button class="btn" ng-click="cancel()">Odustani</button>
</div>