<div class="modal-header">
    <h3 class="modal-title">Grupe artikala</h3>
</div>
<div class="modal-body">
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'sifraGrupe'; reverseSort = !reverseSort">Šifra</th> 
          <th> <a ng-click = "orderProp = 'nazivGrupe'; reverseSort = !reverseSort">Naziv</th> 
          <th> <a ng-click = "orderProp = 'preduzece.nazivPreduzeca'; reverseSort = !reverseSort">Preduzeće</th> 
      </tr>
    </thead>
    <tbody>
      <tr   ng-click="setSelected(article)" ng-class="{selected: article === selectedGrupaArtikala}" ng-repeat="article in grupeArtikalaDoc  | filter:query | orderBy:orderProp : reverseSort ">
          <td>{{article.sifraGrupe}}</td>
          <td>{{article.nazivGrupe}}</td>
		  <td>{{article.preduzece.nazivPreduzeca}}</td>  
      </tr>
    </tbody>
  <div class="form-group">
      <button class="btn btn-default" ng-click="add()">Dodaj</button>
       <button class="btn btn-default" ng-click="delete()">Obriši</button>
        <button class="btn btn-default" ng-click="update()">Izmeni</button>
        <button class="btn btn-default" ng-click="selektuj()">Selektuj</button>
    </div>
</div>
