<div class="modal-header">
   <h3><i class="glyphicon glyphicon-dashboard"></i> Magacinska kartica</h3>  
</div>
<div class="modal-body" class="col-sm-9">
  
  <table class="modal-body table table-striped" >
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'kartica.idMagacinskaKartica'; reverseSort = !reverseSort">Sifra</th> 
          <th> <a ng-click = "orderProp = 'kartica.kolIzlaza'; reverseSort = !reverseSort">Kol. izlaza</th> 
          <th> <a ng-click = "orderProp = 'kartica.kolUlaza'; reverseSort = !reverseSort">Kol. ulaza</th> 
          <th> <a ng-click = "orderProp = 'kartica.pocetnoStanjeKol'; reverseSort = !reverseSort">Pocetno stanje kol.</th>
          <th> <a ng-click = "orderProp = 'kartica.pocetnoStanjeVr'; reverseSort = !reverseSort">Pocetno stanje vr.</th> 
          <th> <a ng-click = "orderProp = 'kartica.prosecnaCena'; reverseSort = !reverseSort">Prosecna cena</th> 
          <th> <a ng-click = "orderProp = 'kartica.redniBrojKartice'; reverseSort = !reverseSort">Redni bro</th> 
          <th> <a ng-click = "orderProp = 'kartica.vrIzlaza'; reverseSort = !reverseSort">Vr. izlaza</th> 
          <th> <a ng-click = "orderProp = 'kartica.vrUlaza'; reverseSort = !reverseSort">Vr. ulaza</th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="kartica in kartice | filter:query | orderBy:orderProp : reverseSort">
          <td>{{kartica.idMagacinskaKartica}}</td>
          <td>{{kartica.kolIzlaza}}</td>
          <td>{{kartica.kolUlaza}}</td>
          <td>{{kartica.pocetnoStanjeKol}}</td>
          <td>{{kartica.pocetnoStanjeVr}}</td>
          <td>{{kartica.prosecnaCena}}</td>
          <td>{{kartica.redniBrojKartice}}</td>
          <td>{{kartica.vrIzlaza}}</td>
          <td>{{kartica.vrUlaza}}</td>
      </tr>
    </tbody>
  </table>
</div>
  
