<div class="modal-header">
   <h3><i class="glyphicon glyphicon-dashboard"></i> Magacinska kartica</h3>  
</div>
<div class="modal-body" class="col-sm-9">
  
  <table class="modal-body table table-striped" >
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'kartica.idMagacinskaKartica'; reverseSort = !reverseSort">Šifra</th> 
          <th> <a ng-click = "orderProp = 'kartica.kolIzlaza'; reverseSort = !reverseSort">Kol. izlaza</th> 
          <th> <a ng-click = "orderProp = 'kartica.kolUlaza'; reverseSort = !reverseSort">Kol. ulaza</th> 
          <th> <a ng-click = "orderProp = 'kartica.pocetnoStanjeKol'; reverseSort = !reverseSort">Početno stanje kol.</th>
          <th> <a ng-click = "orderProp = 'kartica.pocetnoStanjeVr'; reverseSort = !reverseSort">Početno stanje vr.</th> 
          <th> <a ng-click = "orderProp = 'kartica.prosecnaCena'; reverseSort = !reverseSort">Prosečna cena</th> 
          <th> <a ng-click = "orderProp = 'kartica.redniBrojKartice'; reverseSort = !reverseSort">Redni broj</th> 
          <th> <a ng-click = "orderProp = 'kartica.vrIzlaza'; reverseSort = !reverseSort">Vr. izlaza</th> 
          <th> <a ng-click = "orderProp = 'kartica.vrUlaza'; reverseSort = !reverseSort">Vr. ulaza</th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="kartica in kartice | filter:query | orderBy:orderProp : reverseSort">
          <td>{{kartica.idMagacinskaKartica}}</td>
          <td>{{kartica.kolIzlaza}}</td>
          <td>{{kartica.kolUlaza}}</td>
          <td>{{kartica.pocetnoStanjeKol}}</td>
          <td>{{kartica.pocetnoStanjeVr}}</td>
          <td>{{kartica.prosecnaCena}}</td>
          <td>{{kartica.redniBrojKartice}}</td>
          <td>{{kartica.vrIzlaza}}</td>
          <td>{{kartica.vrUlaza}}</td>
      </tr>
    </tbody>
  </table>
  <h3>Analitika kartice</h3>
  <table class="modal-body table table-striped" >
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'analitika.sifraDokumenta'; reverseSort = !reverseSort">Šifra dokumenta</th> 
          <th> <a ng-click = "orderProp = 'analitika.redniBroj'; reverseSort = !reverseSort">Redni broj</th> 
          <th> <a ng-click = "orderProp = 'analitika.datumPromene'; reverseSort = !reverseSort">Datum promene</th> 
          <th> <a ng-click = "orderProp = 'analitika.cena'; reverseSort = !reverseSort">Cena</th> 
          <th> <a ng-click = "orderProp = 'analitika.smer'; reverseSort = !reverseSort">Smer</th> 
          <th> <a ng-click = "orderProp = 'analitika.vrednost'; reverseSort = !reverseSort">Vrednost</th>
          <th> <a ng-click = "orderProp = 'analitika.kolicina'; reverseSort = !reverseSort">Količina</th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="analitika in analitics | filter:query | orderBy:orderProp : reverseSort">
          <td>{{analitika.sifraDokumenta}}</td>
          <td>{{analitika.redniBroj}}</td>
          <td>{{analitika.datumPromene}}</td>
          <td>{{analitika.cena}}</td>
          <td>{{analitika.smer}}</td>
          <td>{{analitika.vrednost}}</td>
          <td>{{analitika.kolicina}}</td>
      </tr>
    </tbody>
  </table>
    
  <a class="btn btn-default" ng-href="http://localhost:8080/xws/api/report/analitika/{{selectedDoc.idMagacinskaKartica}}" target="_blank">Štampaj</a>

</div>
  
