<div class="col-sm-9">
  
   <h3><i class="glyphicon glyphicon-dashboard"></i> Stanje magacina </h3>  
   <hr>
 

  <select class="form-control" 
          ng-model="selected" 
          ng-change="insertOrEditInvoice(selected.idMagacin)" 
          ng-options="opt as opt.nazivMagacina for opt in options"  
          ng-init="selected=''">
  </select>

   <div id="printThis">

  <table class="table table-striped" >
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'artikal.sifraArtikla'; reverseSort = !reverseSort">Šifra</th> 
          <th> <a ng-click = "orderProp = 'artikal.nazivArtikla'; reverseSort = !reverseSort">Naziv</th> 
          <th> <a ng-click = "orderProp = 'artikal.pakovanje'; reverseSort = !reverseSort">Pakovanje</th> 
          <th> <a ng-click = "orderProp = 'artikal.jedinicaMere.nazivJediniceMere'; reverseSort = !reverseSort">Jedinica mere</th>
          <th> <a ng-click = "orderProp = 'artikal.grupaArtikala.nazivGrupe'; reverseSort = !reverseSort">Grupa artikala</th> 
          <th> <a ng-click = "orderProp = 'pocetnoStanjeKol+kolUlaza-kolIzlaza'; reverseSort = !reverseSort">Količina</th> 
          <th> <a ng-click = "orderProp = 'pocetnoStanjeVr+vrUlaza-vrIzlaza'; reverseSort = !reverseSort">Vrednost</th> 
          <th> <a ng-click = "orderProp = 'prosecnaCena'; reverseSort = !reverseSort">Prosečna cena</th> 
          
      </tr>
    </thead>
    <tbody>
      <tr ng-click="setSelected(article)" ng-class="{selected: article === selectedDoc}" 
              ng-dblclick="showCard(article)"
              ng-repeat="article in articles  | filter:query | orderBy:orderProp : reverseSort ">
          <td>{{article.artikal.sifraArtikla}}</td>
          <td>{{article.artikal.nazivArtikla}}</td>
          <td>{{article.artikal.pakovanje}}</td>
          <td>{{article.artikal.jedinicaMere.nazivJediniceMere}}</td>
          <td>{{article.artikal.grupaArtikala.nazivGrupe}}</td>
          <td>{{article.pocetnoStanjeKol+article.kolUlaza-article.kolIzlaza}}</td>
          <td>{{article.pocetnoStanjeVr+article.vrUlaza-article.vrIzlaza}}</td>
          <td>{{article.prosecnaCena}}</td>
      </tr>
    </tbody>
</table>
  
    <div class="modifyMe"></div>
</div>


    <div class="form-group">
      <button class="btn btn-default" ng-click="nivelisi()">Promeni cenu</button>
      <button class="btn btn-default" ng-click="nivAll()">Nivelisi</button>
      <!--<button class="btn btn-default" ng-click="btnPrint()">Štampaj</button> -->
      <a class="btn btn-default" href="http://localhost:8080/xws/api/report/lager" target="_blank">Štampaj</a>
    </div>



<hr />


   



</div>
