<div class="col-sm-9">
  
   <h3><i class="glyphicon glyphicon-dashboard"></i> Stanje magacina </h3>  
   <hr>
 

  <select ng-model="selected" ng-click="insertOrEditInvoice(selected.idMagacin)" ng-options="opt as opt.nazivMagacina for opt in options"  ng-init="selected=''"></select>
   <div id="printThis">
    <div>Selektovan Magacin: <span ng-bind="selected.nazivMagacina"></span>
    </div>

  <table class="table table-striped" >
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'artikal.sifraArtikla'; reverseSort = !reverseSort">Sifra</th> 
          <th> <a ng-click = "orderProp = 'artikal.nazivArtikla'; reverseSort = !reverseSort">Naziv</th> 
          <th> <a ng-click = "orderProp = 'artikal.pakovanje'; reverseSort = !reverseSort">Pakovanje</th> 
          <th> <a ng-click = "orderProp = 'artikal.jedinicaMere.nazivJediniceMere'; reverseSort = !reverseSort">Jedinica Mere</th>
          <th> <a ng-click = "orderProp = 'artikal.grupaArtikala.nazivGrupe'; reverseSort = !reverseSort">Grupa Artikala</th> 
          <th> <a ng-click = "orderProp = 'pocetnoStanjeKol+kolUlaza-kolIzlaza'; reverseSort = !reverseSort">Kolicina</th> 
          <th> <a ng-click = "orderProp = 'pocetnoStanjeVr+vrUlaza-vrIzlaza'; reverseSort = !reverseSort">Vrednost</th> 
          <th> <a ng-click = "orderProp = 'prosecnaCena'; reverseSort = !reverseSort">Prosecna Cena</th> 
          
      </tr>
    </thead>
    <tbody>
      <tr ng-click="setSelected(article)" ng-class="{selected: article === selectedDoc}" 
              ng-dblclick="showCard(article)"
              ng-repeat="article in articles  | filter:query | orderBy:orderProp : reverseSort ">
          <td>{{article.artikal.sifraArtikla}}</td>
          <td>{{article.artikal.nazivArtikla}}</td>
          <td>{{article.artikal.pakovanje}}</td>
          <td>{{article.artikal.jedinicaMere.nazivJediniceMere}}</td>
          <td>{{article.artikal.grupaArtikala.nazivGrupe}}</td>
          <td>{{article.pocetnoStanjeKol+article.kolUlaza-article.kolIzlaza}}</td>
          <td>{{article.pocetnoStanjeVr+article.vrUlaza-article.vrIzlaza}}</td>
          <td>{{article.prosecnaCena}}</td>
      </tr>
    </tbody>
</table>
  
    <div class="modifyMe"></div>
</div>


    <div class="form-group">
      <button class="btn btn-default" ng-click="koriguj()">Koriguj</button>
      <button class="btn btn-default" ng-click="nivelisi()">Niveliši</button>
      <button class="btn btn-default" id="btnPrint">Print</button>
    </div>



<hr />


   



</div>
