<div class="modal-header">
  <h3><i class="modal-title"></i> Poslovni partner </h3>  
</div>
<div class="modal-body">
	<form name="form">
		<div class="form-group">
            <label>* Šifra partnera:</label>
			 <input name="sifra" class="form-control" ng-model="item.sifraPartnera" required></input>
        </div>
        <div class="form-group">
            <label>* Naziv:</label>
			 <input name="naziv" class="form-control" ng-model="item.nazivPartnera" required></input>
        </div>
		<div class="form-group">
            <label>* Vrsta partnera:</label>
            <select name="vrsta" class="form-control" ng-model="selectedDoc.vrstaPartnera" ng-options="opt as opt for opt in vrste" required></select>
        </div>
		<div class="form-group">
            <label>Adresa:</label>
			<input name="adresa" class="form-control" ng-model="item.adresaPartnera"></input>
        </div>
		<div class="form-group">
            <label>Broj telefona:</label>
			<input name="telefon" class="form-control" ng-model="item.brojTelefonaPartnera" pattern="((\+)|([0-9]+\/))?([0-9]+[-\s]?)+[0-9]+"></input>
			<span style="color:red" ng-show="form.telefon.$invalid && form.telefon.$dirty">
				<span class="error" ng-show="form.telefon.$invalid">Potrebno je uneti broj telefona u validnom formatu!</span>
			</span>
        </div>
		<div class="form-group">
            <label>Kontakt osoba:</label>
			 <input name="osoba" class="form-control" ng-model="item.kontaktOsoba"></input>
        </div>
		<div class="form-group">
            <label>Mail adresa:</label>
			 <input name="mail1" class="form-control" ng-model="item.mailAdresa" pattern="[-a-z0-9._+%]+@[a-z0-9.-]+\.[a-z]{2-4}"></input>
			 <span style="color:red" ng-show="form.mail1.$invalid && form.mail1.$dirty">
				<span class="error" ng-show="form.mail1.$invalid">Potrebno je uneti e-mail adresu u validnom formatu!</span>
			 </span>
        </div>		
		<div class="form-group">
            <label>Mesto:</label>
            <div class="input-group">
				<input name="mesto" type="text" class="form-control" ng-model="item.mesto.nazivMesta" readonly></input>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="selektujMesto()"><i>...</i></button>
				</span>
			</div>
        </div>
        
		<span style="color:red" ng-show="show && form.$invalid">
				<span>Jedno ili više polja označenih zvezdicom je nepopunjeno. Da biste nastavili, popunite ih!</span>
			</span>
		<div class="modal-footer" ng-init="show=false" ng-mouseover="show=true">
			    <button class="btn" ng-click="sacuvaj()" ng-disabled="form.$invalid">Sačuvaj</button>
				<button class="btn" ng-click="zatvaranje()">Zatvori</button>
		</div>
    </form>	
</div>