<div class="modal-header">
    <h3 class="modal-title">Poslovni partneri</h3>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <thead>
      <tr>
	      <th> <a ng-click = "orderProp = 'partner.sifraPartnera'; reverseSort = !reverseSort">Šifra partnera</th> 
          <th> <a ng-click = "orderProp = 'partner.nazivPartnera'; reverseSort = !reverseSort">Naziv</th> 
          <th> <a ng-click = "orderProp = 'partner.adresaPartnera'; reverseSort = !reverseSort">Adresa</th> 
          <th> <a ng-click = "orderProp = 'partner.brojTelefona'; reverseSort = !reverseSort">Telefon</th> 
          <th> <a ng-click = "orderProp = 'partner.kontaktOsoba'; reverseSort = !reverseSort">Kontakt osoba</th>
          <th> <a ng-click = "orderProp = 'partner.mailAdresa'; reverseSort = !reverseSort">Mail</th> 
          <th> <a ng-click = "orderProp = 'partner.vrstaPartnera'; reverseSort = !reverseSort">Vrsta</th>   
		  <th> <a ng-click = "orderProp = 'partner.mesto.nazivMesta'; reverseSort = !reverseSort">Mesto</th>  		  
      </tr>
    </thead>
    <tbody>
      <tr ng-click="setSelected(partner)" ng-class="{selected: partner === selectedPartner}" ng-repeat="partner in partners  | filter:query | orderBy:orderProp : reverseSort ">
          <td>{{partner.sifraPartnera}}</td>
          <td>{{partner.nazivPartnera}}</td>
          <td>{{partner.adresaPartnera}}</td>
          <td>{{partner.brojTelefona}}</td>
          <td>{{partner.kontaktOsoba}}</td>
          <td>{{partner.mailAdresa}}</td>
          <td>{{partner.vrstaPartnera}}</td>
		  <td>{{partner.mesto.nazivMesta}}</td>
      </tr>
    </tbody>
</table>

    <div class="form-group">
      <button class="btn btn-default" ng-click="izmena()">Izmeni</button>
      <button class="btn btn-default" ng-click="dodavanje()">Kreiraj novog</button>
	  <button class="btn btn-default" ng-click="brisanje()">Obriši</button>
	  <button class="btn btn-default" ng-click="odabir()">Odaberi</button>
    </div>

</div>
