<div class="modal-header">
    <h3 class="modal-title">Kreiranje prometnog dokumenta</h3>
</div>
<div class="modal-body">
    <form name="form">
	    <div class="form-group">
            <label>* Vrsta prometnog dokumenta:</label>
            <select name="vrsta" class="form-control" ng-model="selectedDoc.vrstaDokumenta" ng-options="opt as opt.nazivVrste for opt in vrste" required></select>
        </div>
	  
       
		<div class="form-group" ng-hide="selectedDoc.vrstaDokumenta.nazivVrste=='otpremnica'">
            <label>* Magacin primke:</label>
			<div class="input-group">
				<input name="magacin1" type="text" class="form-control" ng-model="selectedDoc.magacin1.nazivMagacina" readonly ng-required="selectedDoc.vrstaDokumenta.nazivVrste!='otpremnica'"/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="selektujMagacin1()"><i>...</i></button>
				</span>
			</div>
        </div>
		<div class="form-group" ng-hide="selectedDoc.vrstaDokumenta.nazivVrste=='primka'">
            <label>* Magacin otpremnice:</label>
			<div class="input-group">
				<input name="magacin2" type="text" class="form-control" ng-model="selectedDoc.magacin2.nazivMagacina" readonly ng-required="selectedDoc.vrstaDokumenta.nazivVrste!='primka'"/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="selektujMagacin2()"><i>...</i></button>
				</span>
			</div>
        </div>
        <div class="form-group">
            <label>* Poslovna godina:</label>
            <select name="godina" class="form-control" ng-model="selectedDoc.poslovnaGodina" ng-options="opt as opt.brojGodine for opt in poslovneGodine" required></select>
        </div>
		<div class="form-group">
            <label>* Poslovni partner:</label>
			<div class="input-group">
				<input name="partner" type="text" class="form-control" ng-model="selectedDoc.poslovniPartner.nazivPartnera" readonly required/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="odabirPoslovnogPartnera()"><i>...</i></button>
				</span>
			</div>
        </div>
		<div class="form-group">
            <label>Datum nastanka:</label>
			<div class="input-group">
				<input name="datum" type="text" class="form-control" datepicker-popup="dd.MM.yyyy." ng-model="selectedDoc.datumNastanka" is-open="datumNastankaOpened" close-text="Zatvori" max-date="{{today}}"/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openDatumNastankaDatepicker($event, 'datumNastankaOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
        </div>
         <table class="table table-striped">
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'artikal.sifraArtikla'; reverseSort = !reverseSort">Šifra</th> 
          <th> <a ng-click = "orderProp = 'artikal.nazivArtikla'; reverseSort = !reverseSort">Naziv</th> 
          <th> <a ng-click = "orderProp = 'artikal.pakovanje'; reverseSort = !reverseSort">Pakovanje</th> 
          <th> <a ng-click = "orderProp = 'artikal.jedinicaMere.nazivJediniceMere'; reverseSort = !reverseSort">Jedinica Mere</th>
          <th> <a ng-click = "orderProp = 'kolicinaPrDokumenta'; reverseSort = !reverseSort">Količina</th> 
          <th> <a ng-click = "orderProp = 'vrednostStavke'; reverseSort = !reverseSort">Vrednost</th> 
          <th> <a ng-click = "orderProp = 'cenaStavke'; reverseSort = !reverseSort">Prosečna Cena</th> 
          
      </tr>
    </thead>
    <tbody>
      <tr ng-click="setSelected(article)" ng-repeat="article in selectedDoc.stavke  | filter:query | orderBy:orderProp : reverseSort ">
          <td>{{article.artikal.sifraArtikla}}</td>
          <td>{{article.artikal.nazivArtikla}}</td>
          <td>{{article.artikal.pakovanje}}</td>
          <td>{{article.artikal.jedinicaMere.nazivJediniceMere}}</td>
          <td>{{article.kolicinaPrDokumenta}}</td>
          <td>{{article.vrednostStavke}}</td>
          <td>{{article.cenaStavke}}</td>
      </tr>
    </tbody>
    </table>
    </form>
	</hr>
	<button class="btn" ng-click="dodajStavkuPD()">Dodaj stavku</button>
    <button class="btn" ng-click="obrisiStavkuPD()">Obriši stavku</button>
	<button class="btn" ng-click="izmeniStavkuPD()">Izmeni stavku</button>
</div>

	<span style="color:red" ng-show="show && form.$invalid">
		<span>Jedno ili više polja označenih zvezdicom je nepopunjeno. Da biste nastavili, popunite ih!</span>
	</span>
	<span style="color:red" ng-show="show && selectedDoc.stavke.length<1">
		<span>Prometni dokument mora da ima najmanje jednu stavku!</span>
	</span>
<div class="modal-footer" ng-init="show=false" ng-mouseover="show=true">
	<button type="submit" class="btn" ng-click="sacuvaj()" ng-disabled="form.$invalid && selectedDoc.stavke.length<1">Sačuvaj</button>
    <button class="btn" ng-click="odustani()">Odustani</button>
   
</div>