<div class="modal-header">
    <h3 class="modal-title">Zaposleni</h3>
</div>
<div class="modal-body">
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'sifraZaposlenog'; reverseSort = !reverseSort">Šifra</th> 
          <th> <a ng-click = "orderProp = 'ime'; reverseSort = !reverseSort">Ime</th> 
          <th> <a ng-click = "orderProp = 'prezime'; reverseSort = !reverseSort">Prezime</th> 
            <th> <a ng-click = "orderProp = 'jmbg'; reverseSort = !reverseSort">JMBG</th> 
            <th> <a ng-click = "orderProp = 'adresaZaposlenog'; reverseSort = !reverseSort">Adresa</th> 
            <th> <a ng-click = "orderProp = 'mesto.nazivMesta'; reverseSort = !reverseSort">Mesto</th> 
            <th> <a ng-click = "orderProp = 'brojTelefona'; reverseSort = !reverseSort">Broj telefona</th> 
            <th> <a ng-click = "orderProp = 'datumRodjenja'; reverseSort = !reverseSort">Datum rodenja</th> 
            <th> <a ng-click = "orderProp = 'statusZaposlenog'; reverseSort = !reverseSort">Status</th> 
            <th> <a ng-click = "orderProp = 'preduzece.nazivPreduzeca'; reverseSort = !reverseSort">Preduzeće</th> 
            <th> <a ng-click = "orderProp = 'radnoMesto.nazivRadnogMesta'; reverseSort = !reverseSort">Radno mesto</th> 
              
      </tr>
    </thead>
    <tbody>
      <tr   ng-click="setSelected(article)" ng-class="{selected: article === selectedZaposleni}" ng-repeat="article in zaposleniDoc  | filter:query | orderBy:orderProp : reverseSort ">
          <td>{{article.sifraZaposlenog}}</td>
           <td>{{article.ime}}</td>
          <td>{{article.prezime}}</td>
       <td>{{article.jmbg}}</td>
       <td>{{article.adresaZaposlenog}}</td>
       <td>{{article.mesto.nazivMesta}}</td>
       <td>{{article.brojTelefona}}</td>
       <td>{{article.datumRodjenja}}</td>
       <td>{{article.statusZaposlenog}}</td>
       <td>{{article.preduzece.nazivPreduzeca}}</td>
       <td>{{article.radnoMesto.nazivRadnogMesta}}</td>
     
      </tr>
    </tbody>
  <div class="form-group">
      <button class="btn btn-default" ng-click="add()">Dodaj</button>
      <button class="btn btn-default" ng-click="delete()">Obriši</button>
      <button class="btn btn-default" ng-click="update()">Izmeni</button>
	  <button class="btn btn-default" ng-click="selektuj()">Selektuj</button>
    </div>
</div>
