<div class="col-sm-9">
    
   <h3><i class="glyphicon glyphicon-dashboard"></i> Stanje magacina </h3>  
   <hr>
  
  <table class="lagerLista table table-striped">
    <thead>
      <tr>
          <th> <a ng-click = "orderProp = 'sifraArtikla'; reverseSort = !reverseSort">Sifra</th> 
          <th> <a ng-click = "orderProp = 'nazivArtikla'; reverseSort = !reverseSort">Naziv</th> 
          <th> <a ng-click = "orderProp = 'pakovanje'; reverseSort = !reverseSort">Pakovanje</th> 
          <th> <a ng-click = "orderProp = 'jedinicaMere'; reverseSort = !reverseSort">Jedinica</th> 
          <th> <a ng-click = "orderProp = 'kolicina'; reverseSort = !reverseSort">Kolicina</th> 
          <th> <a ng-click = "orderProp = 'prosecnaCena'; reverseSort = !reverseSort">Cena</th> 
          <th> <a ng-click = "orderProp = 'vrednostPoCeni'; reverseSort = !reverseSort">Vrednost</th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="article in articles | filter:query | orderBy:orderProp : reverseSort">
          <td>{{article.sifraArtikla}}</td>
          <td>{{article.nazivArtikla}}</td>
          <td>{{article.pakovanje}}</td>
          <td>{{article.jedinicaMere}}</td>
          <td>{{article.kolicina}}</td>
          <td>{{article.prosecnaCena}}</td>
          <td>{{article.vrednostPoCeni}}</td>
      </tr>
    </tbody>
</div>
